@import "~include-media/dist/_include-media.scss";
@import "variables";

.App {
  text-align: center;

  .app-content {
    @include media(">phone", "<tablet") {
      padding: 0;
    }

    @include media(">tablet") {
      padding: 0 50px;
    }

  }

  .content {
    @include media("<tablet") {
      padding: $padding $paddingMini;
    }

    padding: $padding;
    background: $white;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
