$breakpoints: (
        'phone': 320px,
        'tablet': 768px,
        'desktop': 1024px
) !default;

$padding: 24px;
$paddingMini: $padding / 3;
$margin: 8px;
$white: #fff;
$green: #5ac492;
$purple: #9b89f6;
$red: #d5525c;
$blue: #4395c1;
$black: #23272d;
$yellow: #c2c259;